<% layout("/layouts/boilerplate.ejs") %>

<h1>Edit Your Book</h1>

<form method="POST" action="/books/<%=book._id%>?_method=PUT">
    <input value="<%=book.title%>" name="Book[title]"/>
    <input value="<%=book.image%>" name="Book[image]"/>
    <input value="<%=book.author%>" name="Book[author]"/>
    <input value="<%=book.description%>" name="Book[description]"/>
    <input value="<%=book.year%>" name="Book[year]"/>
    <input value="<%=book.price%>" name="Book[price]"/>
    <button>Update Book</button>
</form>