<% layout("/layouts/boilerplate.ejs") %>

<div class="container1">
    <% for(let book of allBooks) { %>
        <a href="/books/<%=book._id%>">
            <div class="card">
                <div class="idx_part1">
                    <img class="img_book" src="<%= book.image?.url %>" alt="<%= book.title %>">
                </div>
                <div class="idx_part2">
                    <p class="head"><%= book.title %></p>
                    <p class="author"><%= book.author %></p>
                    <p class="price"><%= book.price %></p>
                </div>
                <!-- 
                <p><%= book.description %></p>
                <p><%= book.year %></p>
                <p><%= book.price %></p>

                <form action="/books/<%=book._id%>/edit" method="GET">
                    <button>Edit</button>
                </form>

                <form method="POST" action="/books/<%=book._id%>?_method=DELETE">
                    <button>Delete</button>
                </form>
                -->
            </div>
        </a>
    <% } %>
</div>