<% layout("/layouts/boilerplate.ejs") %>

<div class="show_container">

    <!-- LEFT SECTION -->
    <div class="show_card">
        <img class="show_img" src="<%= book1.image?.url %>" alt="<%= book1.title %>">
        <h2 class="title"><%= book1.owner.username %></h2>
        <h2 class="title">Title: <%= book1.title %></h2>

        <div class="book_info">
            <h4 class="author">Author: <%= book1.author %></h4>
            <h4 class="price">Price: ₹<%= book1.price %></h4>
            <h4 class="year">Year: <%= book1.year %></h4>
        </div>

        <div class="btn_group">
            <form action="/books/<%=book1._id%>/edit" method="GET">
                <button class="show_btn">Edit</button>
            </form>

            <form method="POST" action="/books/<%=book1._id%>?_method=DELETE">
                <button class="del_btn">Delete</button>
            </form>
        </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="show_desc">
        <h3>Description</h3>
        <p><%= book1.description %></p>
    </div>
    <form method="POST" action="/wishlist/<%=book1._id%>">
        <button>Add to Wish List</button>
    </form>
</div>

    <div class="review_new">
        <h3>Leave a Review:</h3>
        <form action="/books/<%=book1._id%>/reviews" method="POST">
                <label for="comment">Comments :</label> <br><br>
                <textarea cols="25" rows="5" id="comment" name="review[comment]" placeholder="Leave your comment"></textarea> <br><br>
                <label for="rating">Rating :</label>
                <input type="number" name="review[rating]" min="0" max="5"/> <br><br>
                <button class="review_btn">Submit</button>
        </form>
    </div>

    <hr>

    <h2 style="margin-left: 80px;">All Reviews:</h2>
        <div class="comments">
            <% for(let review of book1.reviews) { %>
                <div class="comment_card">
                    <p><%= review.author.username %></p>
                    <p>Rating: <%= review.rating %></p>
                    <p>Comment: <%= review.comment %></p>
                    <form method="POST" action="/books/<%=book1._id%>/reviews/<%=review._id%>?_method=DELETE">
                        <button class="review_del_btn">Delete</button>
                    </form>
                </div>
            <% } %> 
        </div>