<% layout("/layouts/boilerplate.ejs") %>

<div class="show_container">

    <!-- LEFT SECTION -->
    <div class="show_card">
        <img class="show_img" src="<%= book1.image %>" alt="<%= book1.title %>">

        <h2 class="title">Title: <%= book1.title %></h2>

        <div class="book_info">
            <h4 class="author">Author: <%= book1.author %></h4>
            <h4 class="price">Price: ₹<%= book1.price %></h4>
            <h4 class="year">Year: <%= book1.year %></h4>
        </div>

        <div class="btn_group">
            <form action="/books/<%=book1._id%>/edit" method="GET">
                <button class="show_btn">Edit</button>
            </form>

            <form method="POST" action="/books/<%=book1._id%>?_method=DELETE">
                <button class="del_btn">Delete</button>
            </form>
        </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="show_desc">
        <h3>Description</h3>
        <p><%= book1.description %></p>
    </div>

</div>